@import url(@/styles/tailwind.css);

/* src/assets/styles/_globals.scss */
$primary-color: #42b883;
$header-height: 60px;
$sidebar-width: 70px;
$sidebar-width--active: 250px;
$content-padding: 20px;

$thumbnail-width-medium: 320px;
$thumbnail-width-high: 480px;
$thumbnail-width-standard: 640px;
$thumbnail-width-default: 120px;

body {
  font-family: Arial, sans-serif;
  line-height: 1.4rem;
  background-color: #fff;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  color: #fff;
  height: $header-height;
  position: fixed;
  z-index: 100;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  &__menu {
    /* 첫 번째 아이템은 기본 위치 */
  }

  &__logo {
    margin-left: 25px;
  }

  &__input {
    flex-grow: 1; /* 빈 공간을 채워서 중앙으로 이동 */
    max-width: 600px; /* 검색창이 너무 커지는 걸 방지 */
    margin: 0 auto; /* 자동 중앙 정렬 */
  }

  &__profile {
    display: flex;
    align-items: center;
    margin-left: auto; /* 자동 정렬로 오른쪽으로 보냄 */
  }
}

.contents {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: $header-height;
  // position: relative;
  flex: 1; //남은 공간 모두 차지
}

.side-bar {
  position: fixed;
  left: 0;
  top: $header-height;
  width: $sidebar-width;
  height: calc(100vh - #{$header-height}); //헤더 제외한 전체 높이
  padding: $content-padding;
  background-color: #fff;

  &.active {
    width: $sidebar-width--active;
  }
}

.item-box {
  display: flex;
  flex-direction: column;
  width: calc(100% - #{$sidebar-width});
  margin-left: $sidebar-width;
  padding: $content-padding;
  padding-top: 0;
  min-height: $header-height;
  background-color: #fff;

  &.active {
    width: calc(100% - #{$sidebar-width--active});
    margin-left: $sidebar-width--active;
  }
}

// .overlay {
//   display: hidden;
// }

@media (max-width: 768px) {
  // .header {
  //   &.active {
  //     filter: brightness(0.5);
  //   }
  // }

  .side-bar {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100vh;
    // inset: 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
    z-index: 100;

    &.active {
      transform: translateX(0);
      padding-top: 0px;
    }
  }

  // overlay 처리
  .header,
  .item-box {
    &.active {
      filter: brightness(0.5);
    }
  }
}

.chips {
  &__container {
    background-color: #fff;
    width: 100%;
    height: $header-height;
    position: fixed;
    display: flex;
    // flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    // 연속으로 ele이 올 경우 '-'로 작성
    &-button {
      // @apply: tailwindcss의 클래스를 그대로 사용할 수 있게 해줌.
      @apply text-gray-900 bg-gray-100 focus:outline-none hover:bg-gray-200 font-medium rounded-lg text-sm px-4 py-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700;
    }
  }
}

.videos {
  &__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: $header-height + 20px;
    height: 100%;
    justify-content: space-between;
    gap: 19px;
  }
}

.video-card {
  flex: 1 1 calc(20% - 16px); /* 한 줄에 5개씩 배치 (반응형) */
  max-width: $thumbnail-width-high; /* 너무 커지지 않도록 제한 */
  min-width: 240px; /* 너무 작아지지 않도록 제한 */
  aspect-ratio: 16 / 9; /* 비율 유지 */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &__thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @apply rounded-xl;
  }

  &__details {
    display: flex;
    flex-direction: column;
    &-avatar {
    }
    &-title {
      display: -webkit-box;
      -webkit-line-clamp: 2; /* 최대 2줄까지만 표시 */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word; /* 단어 단위로 줄바꿈 */
      white-space: normal;
      margin: 12px 0 4px 0;
    }
    &-channel {
    }
  }
  &--desc {
  }
}

.video {
  &__container {
    width: 100%; /* container 가로 크기 */
    height: 0;
    padding-bottom: 56.25%; /* 16:9 비율을 유지 (9/16 * 100% = 56.25%) */
    overflow: hidden; /* overflow를 숨겨서 여백만 보여지도록 */
  }

  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 63%;
    object-fit: cover; /* 영상의 비율을 유지하며 전체 container를 가득 채우되 여백 추가 */
  }

  &__columns {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.meta-box {
  display: block;
  &__title {
  }
  &__channel {
  }
  &__desc {
  }
}

.shorts {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
